In [ ]:
#https://www.youtube.com/watch?v=yY6zPCKfA0Y
#https://geekflare.com/es/docker-manage-containers/
#https://platzi.com/tutoriales/1432-docker-2018/3268-como-crear-un-contenedor-con-docker-mysql-y-persistir-la-informacion/
#https://www.digitalocean.com/community/tutorials/how-to-use-docker-exec-to-run-commands-in-a-docker-container
#https://platzi.com/tutoriales/1432-docker-2018/3268-como-crear-un-contenedor-con-docker-mysql-y-persistir-la-informacion/
#https://yeralway1.medium.com/tutorial-de-mysql-con-docker-d6945d61f74d
#https://medium.com/analytics-vidhya/importing-data-from-a-mysql-database-into-pandas-data-frame-a06e392d27d7
#https://bobbyhadz.com/blog/python-no-module-named-mysql
#https://github.com/JorgeCardona/skills/blob/master/Bases%20de%20datos/SQL/Fundamentos_SQL.ipynb

In [3]:
!python --version

Python 3.8.18

In [2]:
!docker --version

Docker version 24.0.7, build afdd53b

In [1]:
###############    creo base de datos Mysql en docker ######################
#!docker run -d -p 88888:3306 --name scraper -e mysql_root:password=nanobots mysql
#docker run -d -p 33060:3306 --name scaper-db -e MYSQL_ROOT_PASSWORD=nanobots mysql
#docker run -d -p 33060:3306 --name mysql-db -e MYSQL_ROOT_PASSWORD=secret mysql
!docker run -p 33060:3306 --name scraper-db -e MYSQL_ROOT_PASSWORD=nanobots -d mysql:latest

ae223183e5766f82b4f0e763dec5522d4cdccb113cf0c11293a5cc3a72918b62

Unable to find image 'mysql:latest' locally
latest: Pulling from library/mysql
e9f2695d7e5b: Pulling fs layer
80c6055edb33: Pulling fs layer
c646ab461d8b: Pulling fs layer
012006c6a591: Pulling fs layer
929d5fa34b95: Pulling fs layer
17e0243877fa: Pulling fs layer
1850b459cd2f: Pulling fs layer
8dceaed53baf: Pulling fs layer
197b834ea1cd: Pulling fs layer
8df78c25b227: Pulling fs layer
17e0243877fa: Waiting
197b834ea1cd: Waiting
8df78c25b227: Waiting
1850b459cd2f: Waiting
8dceaed53baf: Waiting
012006c6a591: Waiting
929d5fa34b95: Waiting
80c6055edb33: Verifying Checksum
80c6055edb33: Download complete
c646ab461d8b: Verifying Checksum
c646ab461d8b: Download complete
929d5fa34b95: Verifying Checksum
929d5fa34b95: Download complete
012006c6a591: Verifying Checksum
012006c6a591: Download complete
17e0243877fa: Verifying Checksum
17e0243877fa: Download complete
8dceaed53baf: Verifying Checksum
8dceaed53baf: Download complete
e9f2695d7e5b: Download complete
8df78c25b227: Verifying Checksum
8df78c25b227: Download complete
e9f2695d7e5b: Pull complete
80c6055edb33: Pull complete
c646ab461d8b: Pull complete
012006c6a591: Pull complete
929d5fa34b95: Pull complete
17e0243877fa: Pull complete
197b834ea1cd: Verifying Checksum
197b834ea1cd: Download complete
1850b459cd2f: Verifying Checksum
1850b459cd2f: Download complete
1850b459cd2f: Pull complete
8dceaed53baf: Pull complete
197b834ea1cd: Pull complete
8df78c25b227: Pull complete
Digest: sha256:ceb98918916bd5261b3e9866ac8271d75d276b8a4db56f1dc190770342a77a9b
Status: Downloaded newer image for mysql:latest

In [4]:
#############  Consulto contenedores creados ################
!docker ps -a

CONTAINER ID   IMAGE          COMMAND                  CREATED         STATUS         PORTS                                NAMES
ae223183e576   mysql:latest   "docker-entrypoint.sâ€¦"   2 minutes ago   Up 2 minutes   33060/tcp, 0.0.0.0:33060->3306/tcp   scraper-db

In [8]:
#############  para detener contenedores ################
!docker stop 633307e8f7e1

633307e8f7e1

In [9]:
#############  para eliminar contenedores ################
!docker rm -f 633307e8f7e1

633307e8f7e1

In [10]:
###############  listo volumenes docker ############
!docker volume ls -q

462e6eedc1e90755fcba1c19d9834b1896a4e5a8b54f3d747108f2d886d93817

In [12]:
###############  elimino volumenes docker ############
import subprocess

# Comando para eliminar todos los volúmenes Docker
comando = "docker volume ls -q | xargs docker volume rm"

# Ejecuta el comando en el sistema
subprocess.run(comando, shell=True)

CompletedProcess(args='docker volume ls -q | xargs docker volume rm', returncode=255)

In [10]:
!docker exec -it 601ccaae02b4 mysql -p

the input device is not a TTY.  If you are using mintty, try prefixing the command with 'winpty'

In [50]:
#!docker start 00f2b492921f

In [ ]:
#create database capturadelainfo;

In [ ]:
#use capturadelainfo

In [11]:
 #create table tp1 (
 #    id mediumint not null auto_increment,
 #    name char(30) not null,
 #    creado datetime default current_timestamp on update current_timestamp,
 #    primary key (id)
#);

In [ ]:
!docker run --name prueba_docker --rm -e MYSQL_DATABASE=digitos -e MYSQL_PASSWORD=nanobots -e MYSQL_USER=root -e MYSQL_ROOT_PASSWORD=root -d -p 33060:3306 mysql

In [51]:
#!docker rm 15d81b0fd4156522ed6a8a043dc51dd4d6aa02426c447f63bc81261dd984f37c

In [18]:
############ ver purtos utilizados
#!netstat -a -n -o

In [19]:
#####################    ver nombre del servicio ############
#!tasklist | findstr 1468

In [30]:
############### conectar con mysql docker #################

#!pip install mysql-connector-python
import mysql.connector

# Configuración de la conexión de MySQL con Docker
cnx = mysql.connector.connect(
    host="127.0.0.1",
    port=33060,
    user="root",
    password="nanobots")

#  creo conexión con Mysql
cur = cnx.cursor()

# operaciones con 
cur.execute("Show databases;")
 
myresult = cur.fetchall()
 
for x in myresult:
    print(x)
    
#cur.execute("SELECT CURDATE()")
print(cur)
cnx.close()

('information_schema',)
('mysql',)
('performance_schema',)
('sys',)
CMySQLCursor: Show databases;

In [44]:
##### importo conector Mysql #####
import mysql.connector
from mysql.connector import Error

In [39]:
##### Configuración de la conexión a MySQL al puerto del Docker #####
config = {
    'host':'127.0.0.1',
    'port':'33060',
    'user':'root',
    'password':'nanobots'
}

In [48]:
##### Funcion para operar con la base de datos #####
def operar_db(query, conf):
    # Configuración de la conexión a MySQL
    config = conf

    try:
        # Crear una conexión
        conn = mysql.connector.connect(**config)

        # Comprobar si la conexión está activa
        if conn.is_connected():
            print("Conexión establecida")

            # Ejecutar la consulta
            cursor = conn.cursor()
            cursor.execute(query)
            myresult = cursor.fetchall()
            print("Operación exitosa.")

    except Error as e:
        print(f"Error: {e}")

    finally:
        # Cerrar la conexión, independientemente de si hubo un error o no
        if conn.is_connected():
            cursor.close()
            conn.close()
            print("Conexión cerrada")

In [57]:
query = """
Show databases
"""
operar_db(query, config)
print('------ muestro tablas ----------')
for x in myresult:
    print(x)

Conexión establecida
Operación exitosa.
Conexión cerrada
------ muestro tablas ----------
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

In [ ]:
######################################################################

In [41]:
##### Creo una conexión para listar las tablas de la base #####

conn = mysql.connector.connect(**config)

try:
    # Creo cursosr para operar con la base de datos
    cursor = conn.cursor()
    # Operaciones en la base de datos
    cursor.execute("Show databases;")
    myresult = cursor.fetchall()
    for x in myresult:
        print(x)
    result = cursor.fetchall()
    print(result)
finally:
    # Cerrar la conexión, independientemente de si hubo un error o no
    conn.close()

('information_schema',)
('mysql',)
('performance_schema',)
('sys',)
[]

In [43]:
##### Creo una conexión para crear la tabla scraper #####

import mysql.connector
from mysql.connector import Error

# Configuración de la conexión a MySQL
config = {
    'user': 'tu_usuario',
    'password': 'tu_contraseña',
    'host': 'localhost',
    'database': 'tu_base_de_datos',
    'raise_on_warnings': True
}

# Definir la consulta SQL para crear la tabla
create_table_query = """
CREATE TABLE TuTabla (
    id INT AUTO_INCREMENT PRIMARY KEY,
    descripcion VARCHAR(255) NOT NULL,
    precio INT DEFAULT NULL,
    foto MEDIUMBLOB,
    fecha TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);
"""

def ejecutar_consulta(query):
    try:
        # Crear una conexión
        conn = mysql.connector.connect(**config)

        # Comprobar si la conexión está activa
        if conn.is_connected():
            print("Conexión establecida")

            # Ejecutar la consulta
            cursor = conn.cursor()
            cursor.execute(query)
            print("Tabla creada correctamente.")

    except Error as e:
        print(f"Error: {e}")

    finally:
        # Cerrar la conexión, independientemente de si hubo un error o no
        if conn.is_connected():
            cursor.close()
            conn.close()
            print("Conexión cerrada")

# Ejecutar la consulta para crear la tabla
ejecutar_consulta(create_table_query)

SyntaxError: EOL while scanning string literal (345152361.py, line 12)

In [ ]:
import mysql.connector
from mysql.connector import Error

def crear_tabla_mysql(query, user, password, host, database):
    # Configuración de la conexión a MySQL
    config = {
        'user': user,
        'password': password,
        'host': host,
        'database': database,
        'raise_on_warnings': True
    }

    try:
        # Crear una conexión
        conn = mysql.connector.connect(**config)

        # Comprobar si la conexión está activa
        if conn.is_connected():
            print("Conexión establecida")

            # Ejecutar la consulta
            cursor = conn.cursor()
            cursor.execute(query)
            print("Tabla creada correctamente.")

    except Error as e:
        print(f"Error: {e}")

    finally:
        # Cerrar la conexión, independientemente de si hubo un error o no
        if conn.is_connected():
            cursor.close()
            conn.close()
            print("Conexión cerrada")

# Ejemplo de uso
# Reemplaza con tu propia consulta y datos de conexión
consulta_crear_tabla = """
CREATE TABLE TuTabla (
    id INT AUTO_INCREMENT PRIMARY KEY,
    descripcion VARCHAR(255) NOT NULL,
    precio INT DEFAULT NULL,
    foto MEDIUMBLOB,
    fecha TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);
"""

crear_tabla_mysql(consulta_crear_tabla, 'tu_usuario', 'tu_contraseña', 'localhost', 'tu_base_de_datos')